<div class="row">
  <div class="col-md-7">
    <div class="panel panel-info">
			<div class="panel-heading clearfix">
				<div class="btn-group pull-right">
					<%= link_to 'Edit', edit_seller_path(@seller), class: 'btn btn-sm btn-primary' %>
					<%= link_to 'Delete', seller_path(@seller), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
				</div>
				<h5><strong><%= @seller.name %></strong></h5>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Rating:</dt>
					<dd><%= @seller.rating %></dd>
					<dt>Number of products:</dt>
					<dd><%= @seller.products.count %></dd>
				</dl>
    	</div>
		</div>
		<hr>
		<%= render 'shared/products_filter', model: @seller %>
	</div>
</div>


