<tr>
  <td><%= link_to category.name, category_path(category) %></td>
  <td><%= category.description %></td>
  <td><%= category.products.count %></td>
  <td>
  <div class="btn-group">
    <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
    </div>
  </td>
</tr>
