<tr>
  <td><%= link_to product.name, product_path(product) %></td>
  <td><%= product.price %></td>
  <td><%= link_to Seller.find(product.seller_id).name, seller_path(product.seller_id) %></td>
  <td><%= link_to Category.find(product.category_id).name, category_path(product.category_id) %></td>
  <td><%= product.created_at.strftime("%Y-%m-%d") %></td>
  <td>
  	<div class="btn-group">
    <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
    </div>
  </td>
</tr>
