<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
			<div class="panel-heading clearfix">
				<div class="btn-group pull-right">
					<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-sm btn-primary' %>
					<%= link_to 'Delete', product_path(@product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
				</div>
				<h5><strong><%= @product.name %></strong></h5>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Price:</dt>
					<dd><%= @product.price %></dd>
					<dt>Description:</dt>
					<dd><%= @product.description %></dd>
					<dt>Seller:</dt>	
					<dd><%= @product.seller.name %></dd>
					<dt>Category:</dt>	
					<dd><%= @product.category.name %></dd>
				</dl>
    	</div>
		</div>
	</div>
</div>


